*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.Container {
  width: 1343px;
  /*height: 1017px;*/
  height: 2700px;
  /*background-color:green;*/
}

/*Inicio Container Head*/
.CHead {
  width: 100%;
  height: 2%;
  /*background-color:pink;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Fin Container Head*/
/*Inicio Container Main*/
.CMain {
  /*background-color:blue;*/
  text-align: center;
  width: 100%;
  height: 10%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  grid-gap: 30px;
}

.CMain-Form {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  /*grid-gap:3px;    */
}

/*Fin Container Main*/
/*Inicio Container Eleccion*/
.CEleccion {
  /*background-color:pink;*/
  width: 80%;
  height: 20%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 15px;
}

.CE {
  /*grid-column: 1/2;*/
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  /*display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);*/
  /* grid-gap:30px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  Flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Fin Container Eleccion*/
/*Inicio modulo Container Main*/
.ContainerMain {
  width: 100%;
  height: 5%;
  background-image: url("./imagenes/banner.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ContainerMain-Title {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.ContainerMain-P {
  font-size: 15px;
  color: white;
}

/*Fin modulo Container Main*/
/*Inicio componente Author*/
.Author {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Author-Link {
  width: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Author-Name {
  /*M_Title($fz,$color,$fw) */
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.Author-Date {
  /*M_Title($fz,$color,$fw) */
  font-size: 15px;
  color: black;
  font-weight: none;
}

/*Fin componente Author*/
/*Inicio Container List Popular*/
.CLP-H2 {
  /*M_Title($fz,$color,$fw)*/
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-bottom: 30px;
}

.CLP-P {
  /*M_Paragraph($fz,$color)*/
  font-size: 15px;
  color: black;
}

/*.CLP--Size{
    padding-top: 8px;
    padding-bottom: 8px;    
}*/
/*Fin Container List Popular*/
/*# sourceMappingURL=styles.css.map */